@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif; 
}

/*LOGIn*/
.conatiner{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    padding: 16rem 5rem;
    background: #fafafa;
    overflow: hidden;
    display:flex;
    justify-items: center;
    justify-content: center;
}
.form{
    width:100%;
    max-width: 820px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact-form{
    background-color:  #0781b6;
    position: relative;
}
.contact-form::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background-color:#0781b6;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}
form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}
.contact_tittle{
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}
.input-container{
    position: relative;
    margin: 1rem 0;
}
.contact_input{
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: white;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}
.contact_input::placeholder {
    color:white;
}
textarea.contact_input{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow: auto;
} 
.contact_btn{
    padding: 0.6rem 1.3rem;
    background-color: white;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #0781b6;
    line-height: 1;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
} 
.contact_btn:hover{
    background-color: transparent;
    color: white;
}
.contact-info{
    padding: 2.3rem 2.2rem;
    position: relative;
}
.contact-info .contact_tittle{
    color: #0781b6;
}
.contact-info .contact_text{
    color: black;
    margin: 1.5rem 0 2rem 0;
}
.contact_information{
    display: flex ;
    color: #555;
    margin: 0.7rem;
    align-items: center;
    font-size: 0.95rem;
}
.contact_information i{
    width: 28px;
    margin-right: 0.9rem;
    color: #0781b6;
}
.contact_information p{
    margin-top: 0;
    margin-bottom: 0rem;
}
.social_medial{
    padding: 2rem 0 0 0;
}
.social_media p {
    color: #000;
    padding-top: 5px;
    padding-left: 5px;
}
.social-icons{
    display: flex;
    margin-top: 0.5rem;
}
.social-icons a{
    width: 85px;
    height: 55px;
    border-radius: 5px;
    background: linear-gradient(45deg, #ffffff, #ffffff); 
    color: white;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
    display: flex ;  
}
.social-icons a:hover{
    transform: scale(1.05);
}
.message{
    background: yellow;
}


/*TABLES*/

@media (max-width:850px){
    .form{
        grid-template-columns: 1fr;
    }
    .contact_text{
        margin: 1rem 0 1.5rem 0;
    }
    .social_media{
        padding: 1.5rem 0 0 0;
    }
}
@media (max-width:480px){
    .conatiner{
        padding: 1.5rem;
    }
    form,
    .contact-info{
        padding: 1.7rem 1.6rem;
    }
    .contact_text,
    .contact_information,
    .social_media p{
        font-size: 0.8rem;
    }
    .contact_tittle{
        font-size: 1.15rem;
    }
    .social-icons a{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .contact_information i{
        width: 23px;
    }
    .contact_input{
        padding: 0.45rem 1.2rem;
    }
    .contact_btn{
        padding: 0.45rem 1.2rem;
    }
}